.container {
  max-width: 1100px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 30px;
  margin: 25px auto;
  box-shadow: 0px 0px 10px #bfbfbf;
}
form {
  margin-bottom: 20px;
}
label {
  margin-bottom: 5px;
  display: block;
}

input {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

button.mandar-numero {
  padding: 4px 10px;
  margin: -4px 0 0 10px;
}
#numeroIngresado {
  margin-top: 15px;
}
p {
  font-weight: bold;
}
.error {
  color: red;
  margin-top: 5px;
  margin-bottom: 10px;
}
.ok {
  color: green;
  margin-left: 5px;
}
